[user]
	name = Andrew Pedelty
	email = apedelty@avantus.com
[push]
	default = upstream
[core]
	trustctime = false
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = less -FMRiX
	#excludesfile = /Users/schuyler/.gitignore
[branch]
	autosetuprebase = always
[merge]
	summary = true
	conflictstyle = diff3
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lc = log --decorate --color --oneline --branches --remotes=backup --not --remotes
    ll = log --decorate --graph
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
    hb = log --graph --pretty=format:'%Cred%h%Creset - %s %C(bold blue)<%an>%Creset %Cgreen(%cr) %C(yellow)%d%Creset' --abbrev-commit --date=relative --branches
